<!--HTML taken from UX Demo Team, edited by Ricky Perez -->
		<!-- page header -->
		<div class="page-header vertical-align">
			<div class="col-xs-11">
				<h2>Student Profile<small> - view/edit information for student <%= @student.student_icon_name %></small></h2><!-- Dynamically fills in with school id -->
			</div>
			<div class="col-xs-1 center-block">
				<div class="header-sq i-<%= @student.color%>" title="Turning Pointe Autism Foundation">
					<span class="fa fa-<%= @student.student_icon%> fa-3x table-icon"></span>
				</div>
			</div>
		</div><!--End page header-->
		<%= render 'form', student: @student, url: "edit"%>
		
				<!-- action icons -->
		<div class="row action-icon-row" style="margin-top: 40px;">
			<div class="col-xs-2 col-xs-offset-1 text-center" title="View/edit squares for student">
				<div class ="action-sq i-ltblue center-block" >
					<a href="student4.html"><span class="fa fa-square-o fa-4x action-icon" ></span></a>
				</div>
				<p><a href="student4.html"><span class="student-icon-text">View Squares</span></a></p>
			</div> <!-- col -->
			<div class="col-xs-2 text-center" title="View/edit notes for student">
				<div class ="action-sq i-red center-block">
					<a href="#"><span class="fa fa-sticky-note-o fa-4x action-icon"></span></a>
				</div>
				<p><a href="#"><span class="student-icon-text">View Notes</span></a></p>
			</div><!-- col -->
		</div><!-- row -->