<!--HTML taken from UX Demo Team, edited by Ricky Perez -->
<!-- page header -->
<div class="page-header vertical-align">
	<div class="col-xs-11">
		<h2>Student Squares<small> - behavior squares for student Jimmy</small></h2><!-- Dynamically fills in with school id -->
	</div>
	<div class="col-xs-1 center-block">
		<div class="header-sq i-red" title="Jimmy">
			<span class="fa fa-bicycle fa-3x teacher-icon"></span>
		</div>
	</div>
</div><!--End page header-->