@charset "utf-8";
/***********************************************************
* School CSS Stylesheet Document 
* Written by: Andrew Alonso-Emanuel
************************************************************/
/*********************************************************
*  TEXT STYLING
*********************************************************/
.listText span
{
	font-size: 1em;
	color: #000000;
}

/*********************************************************
*  ICON STYLING
*********************************************************/

.school-icon
{
	font-size: em;
	/*position: absolute;
    top: 40%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;*/
	color: #000000;
}