/* NOTE FROM KEVIN M: If you're here wondering why sidenav text isn't white,
                      it's because I had to comment it out after it caused issues
                      with unrelated headers and paragraph text. I'm not sure
                      what was causing it.*/

/***********************************************************
* Collapsible Sidebar CSS Stylesheet Document 
*  W3 Schools Tutorial: How TO - Side Navigation
*  https://www.w3schools.com/howto/howto_js_sidenav.asp
* Modified by: Debra Jensen
************************************************************/
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 250 width - changes to 0 with JavaScript close */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #737373;/*Gray*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
	margin-top:50px;
}

#mySidenav
{
	width:250px;
}
/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #FFFFFF;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #97EDEC; /*Light Blue*/
}

/* Added styling for text 
.sidenav p, h1, h2, h3, h4
{
	color:#FFFFFF;
} NOTE FROM KEVIN M: Temporarily commented out due to site formatting issues.
                     It was making all headers and p text white.*/

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
	margin-left: 250px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}